html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* background-color: var(--color-bg-default); */
  color: var(--color-text-default);
  overflow: hidden;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg,
img {
  width: 100%;
  height: auto;
}

:root,
svg[data-color-mode='light'],
canvas[data-color-mode='light'] {
  /* --color-text-default: rgba(128, 128, 128, 0.8); */
  --color-bg-default: #fff;
  --color-text-default: rgba(128, 128, 128, 0.9);
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-bg-default: #0d1117; */
    --color-bg-default: #191919;
    --color-calendar-graph-day-bg: rgba(128, 128, 128, 0.1); /* #1e2523; */
    --color-calendar-graph-day-L1-bg: rgba(10, 108, 44, 0.4); /* #0e4429; */
    --color-calendar-graph-day-L2-bg: rgba(29, 160, 51, 0.55); /* #006d32; */
    --color-calendar-graph-day-L3-bg: rgba(65, 211, 91, 0.8); /* #26a641; */
    --color-calendar-graph-day-L4-bg: #39d353;
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
  }
}

svg[data-color-mode='dark'],
canvas[data-color-mode='dark'] {
  --color-calendar-graph-day-bg: #222; /* #1e2523; */
  --color-calendar-graph-day-L1-bg: #0e4429;
  --color-calendar-graph-day-L2-bg: #006d32;
  --color-calendar-graph-day-L3-bg: #26a641;
  --color-calendar-graph-day-L4-bg: #39d353;
}
